body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('Images/openbook.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('Images/lightbook.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 20px;
    color: rgb(245, 176, 86);
}

#quote {
    font-size: 1.33em;
    margin-bottom: 20px;
    color: rgb(247, 187, 110);
}

#guess {
    padding: 10px;
    width: calc(100% - 24px);
    margin-bottom: 10px;
}

#submit-guess, #next-quote, #previous-quote {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    background-color: burlywood;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

#submit-guess:hover, #next-quote:hover, #previous-quote:hover {
    background-color: rgb(185, 115, 16);
}

#result {
    font-size: 1.1em;
    margin-top: 10px;
}
